page-register {
    .toolbar-background{ background:transparent; border-style:none;}
    .toolbar::after,.header-md::after{ background-image:none;}
    ion-content{
        background-image: url('../assets/img/bread-pattern.jpeg');
        background-size: 100% auto;
    }
    .navbarTransp{
        background: transparent;
        background-color: rgba(240, 248, 255, 0.616)
    }
    .itensCadastro{
        border-radius: 50%;
    }
    .login_logo{
        margin-bottom: 5%;
        height: 20%;
        width: auto;
        margin-left: 30%;
    }
    ion-datetime{
        border-bottom: 1px solid color($colors,primary);
    }
}
